<div class="row">
                                <h5>Cinsiyet</h5>
                                <div class="selectric-wrapper selectric-selectric selectric-theme-web">
								<div class="selectric-hide-select">
								<select name="gender" class="selectric" tabindex="-1">
                                    <option value="male">Erkek</option>
                                    <option value="female">Kadın</option>
                                </select>
								</div>
								<div class="selectric"><span class="label">Erkek</span><b class="sel-button"></b></div><div class="selectric-items" tabindex="-1"><div class="selectric-scroll"><ul><li data-index="0" class="selected">Erkek</li><li data-index="1" class="last">Kadın</li></ul></div></div><input class="selectric-input" tabindex="0"></div>
                            </div>